{% extends "westros/base.html" %}
{% block content %}

<h1 style="text-align:center;font-size:300%;">Comedy</h1>
 <h2 style="color:red;">I Love Lucy</h2>
 <img src="I Love Lucy.jpg" width="400" height="200"> 
 <h2><font size="5" color="red">Mary Tyler Moore</font></h2>
 <img src="Mary Tyler Moore .jpg" width="400" height="200"> 
 <h2>Mash</h2>
 <img src="Mash.jpg" width="400" height="200"> 
 <h2>Sanfield</h2>
 <img src="Sanfield_.jpg" width="400" height="200"> 
 <h2>The Andy Griffith Show</h2>
 <img src="The Andy Griffith Show .jpg" width="400" height="200"> 
 <h2>The Dick Van Dyke Show </h2>
 <img src="The Dick Van Dyke Show .jpg" width="400" height="200">
 <h2>The Honeymooners </h2>
 <img src="The Honeymooners.jpg" width="400" height="200">
 <h2>The Simpsons</h2>
 <img src="The Simpsons.jpg" width="400" height="200">

 
{% endblock %}
 
