{% extends "westros/base.html" %}
{% block body %}
<img src="GOT.jpg" align="left" width="300" height="180">
<img src="Big bang theory.jpg" align="middle" width="300" height="180">
<img src="Supernaturals.jpg" align="right" width="300" height="180"><br><br><br>
<img src="Suspense.jpg" align="left" width="300" height="180">
<img src="warofworld.jpg" align="middle" width="300" height="180">
<img src="Thriller.jpg" align="right" width="300" height="180"><br><br><br>
<img src="cracked.jpg" align="left" width="300" height="180">
<img src="81925.jpg" align="middle" width="300" height="180">
<img src="GOT.jpg" align="right" width="300" height="180"><br><br><br>

{% endblock %}
