{% extends "westros/base.html" %}
{% block body %}
<p> 
Westeros.com does not allow the use of unsolicited commercial email ("Spam") to promote products or services. Any Subscriber engaging in the sending of Spam through the Website.com network or promoting information on websites hosted by Website.com will be considered in breach of this Agreement and will be suspended from the Service immediately.<br>

Your use of the Service must be in compliance with Canadian and US laws, and the laws of your country at all times.<br>

You are responsible for ensuring that your use of the Service does not consume excessive system or network resources that disrupts the normal use of the Service through, but not limited to, spawning multiple processes, or consuming excessive amounts of memory, CPU or bandwidth capacity.
<br>
The following is a non-exclusive list of content, and behavior prohibited by the Service:<br>

    1.Content that contains or contains links to: nudity, pornography, adult content, materials with sex or foul language.<br>
    2.Content that condones, promotes, contains, or links to warez, cracks, hacks, their associated utilities, or other piracy related information, whether for educational purposes or not.
<br>    3.Content that has been promoted through the sending of Spam or mail fraud schemes, or pages that promote or condone the sending of Spam. The sending of bulk email originating from our servers mass distributed to unknown recipients soliciting products or services, or of bulk email NOT originating from our servers mass distributed to unknown recipients soliciting products or services relating to a Website.com account will result in immediate account suspension.<br>
    4.Content that is grossly offensive to the community, including blatant expressions for bigotry, prejudice, racism, hatred or excessive profanity, or to post any obscene, filthy, excessively violent, harassing, or otherwise objectable material.<br>
    5.Content or otherwise that exploits children under 18 years of age.<br>
    6.Content that sells or promotes any products or services that are unlawful in the location at which the content is posted or received.<br>
    7.Content that infringes or violates any copyright, patent, trademark, service mark, trade name, trade secret, or other intellectual property right of any third party.<br>
    8.Content that promotes mail fraud, multi-level marketing (pyramid) schemes or other illegal or fraudulent activities.<br>
    9.Content that posts or discloses any personally identifying information or private information about any third parties without their express consent.<br>
    10.Reverse engineering, reverse compiling or otherwise deriving the underlying source code or structure or sequence of any Website.com service, solution or technology.<br>
    11.Reverse engineering, reverse compiling or otherwise deriving the underlying source code or structure or sequence of individual passwording of Subscriber Sites (or pages contained therein).
</p>
<div class="checkbox">
  <label><input type="checkbox" value="">Click To Agree</label>
</div>
<br>
 <div class="col-sm-offset-2 col-sm-10">
     <a href="#" class="btn btn-success" role="button">SUBMIT</a>
 </div>

{% endblock %}
